@page "/counter"

@using BlazorServerApp.Pages.ContactComponents;

<h1 style="color:@AppTheme.PrimaryColor">Counter</h1>

<p style="color:@AppTheme.SecondaryColor">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<br />
<input @bind="@currentCount" />

@code {

    [CascadingParameter]
    public Theme AppTheme { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
