@page "/demo02"
@inject IContactService contactService


<h3>Demo02</h3>

@if (contactService.GetContacts().Count == 0)
{
    <b>No contacts to display</b>
}
else
{
    @foreach (var contact in contactService.GetContacts())
    {
        <b>@contact.FirstName @contact.LastName</b>
        <i>@contact.Email</i>
        <hr />
    }
}

@code {

}
