@page "/demo01"
@inject IContactService contactService;

<h3>demo01</h3>

<input placeholder="First Name" @bind="firstName" />
<br /><br />
<input placeholder="Last Name" @bind="lastName"/>
<br /><br />
<input placeholder="Email" @bind="email"/>
<br /><br />

<button @onclick="AddContact">Add contact</button>
<br />
<br />


@if(contactService.GetContacts().Count == 0)
{
    <b>No contacts to display</b>
}
else
{
    @foreach(var contact in contactService.GetContacts())
    {
        <b>@contact.FirstName @contact.LastName</b>
        <i>@contact.Email</i>
        <hr />
    }
}

@code {
    private string firstName, lastName, email;

    private void AddContact()
    {
        var contact = new Contact
            {
                FirstName = firstName,
                LastName = lastName,
                Email = email
            };

            contactService.AddContact(contact);
    }
}
