
@page "/memberlist"

@using BlazorServerApp.Services;
@inject IMemberService memberService;
@inject NavigationManager navigationManager;

<h3>MemberList</h3>

<button @onclick="AddMemberFoo" type="button" class="btn btn-success">Add Member</button>
<button @onclick="DeleteAll" type="button" class="btn btn-danger">Delete All</button>


@if(memberList.Count == 0 || memberList == null)
{
    <p>No members to display</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col"> Joining date</th>
            </tr>
        </thead>
        @foreach (var member in memberList)
        {
            <tr>
                <MemberDetail Member="@member"></MemberDetail>
            </tr>
        }
    </table>
}



@code {

    private List<Member> memberList;


    protected override void OnInitialized()
    {
        memberList = memberService.GetAll();
        base.OnInitialized();
    }

    public void DeleteAll()
    {
        memberService.DeleteAll();
        navigationManager.NavigateTo("./memberlist", true);
        //StateHasChanged();
    }

    public void AddMemberFoo()
    {
        navigationManager.NavigateTo("./add-member");

    }
    
}
