@page "/Test"
@page "/Sample"
@page "/Example/Page1"


<h3>To jest strona testowa Razor Pages 2</h3>


<DeleteConfirmation></DeleteConfirmation>

<EditForm>
    <InputText></InputText>
</EditForm>

@code {

}
