@inject NavigationManager navManager

@page "/testpage/{contactName}/{Age:int}"



<h3>Test - PageDirective</h3>

<a href="">Index</a>

<button @onclick="NavigateToIndex">Navigate to index</button>

<br />
<br />

<span>@contactName Age-@Age</span>

@code {

    [Parameter]
    public string contactName { get; set; }

    [Parameter]
    public int Age { get; set; }

    private void NavigateToIndex()
    {
        navManager.NavigateTo("./Index");
    }

}
