@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @*             <CascadingValue Name="Color" Value="Color">
            <CascadingValue Value="TestValue">
            <CascadingValue Name="TestColor" Value="TestColor"> *@

            <CascadingValue Value="ApplicationTheme">
                @Body
            </CascadingValue>
            @*                     </CascadingValue>
            </CascadingValue>
            </CascadingValue> *@

        </div>
    </div>
</div>


@code {

    // public string Color { get; set; } = "blue";
    // public int TestValue { get; set; } = 5;
    // public string TestColor { get; set; } = "green";

    public Theme ApplicationTheme { get; set; } = new Theme();
}